---
import House from "../../public/svg/achivements/house_bg_icon.svg?raw";
import Money from "../../public/svg/achivements/money_bg_icon.svg?raw";
import People from "../../public/svg/achivements/people_icon.svg?raw";
import Contractor from "../../public/svg/achivements/contractor_icon.svg?raw";
import Developer from "../../public/svg/achivements/developer_icon.svg?raw";
import SalesAgent from "../../public/svg/achivements/sales_agent.svg?raw";


const stats = [
  {
    icon: House,
    number: "4000+",
    desc: "Jumlah Unit",
  },
  {
    icon: Money,
    number: "1T+",
    desc: "Pembiayaan Developer",
  },
  {
    icon: People,
    number: "3400+",
    desc: "Customer Bergabung",
  },
  {
    icon: Developer,
    number: "16+",
    desc: "Proyek Berjalan",
  },
  {
    icon: Contractor,
    number: "25+",
    desc: "Mitra Kontraktor",
  },
  {
    icon: SalesAgent,
    number: "60+",
    desc: "Sales Agent",
  },
];
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pencapaian Amani</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section
      class="w-full px-8 md:px-[12.5rem] lg:px-64 py-20 md:py-[7.5rem] text-center bg-white flex flex-col items-center"
    >
      <!-- Heading -->
      <h2
        class="text-[#001847] text-2xl md:text-3xl lg:text-4xl font-bold mb-4"
      >
        Pencapaian Amani
      </h2>
      <p class="text-gray-700 text-sm md:text-base lg:text-lg mb-10">
        Perusahaan kami telah mencapai tonggak sejarah yang membanggakan dalam
        industri perumahan. Kami berkomitmen untuk terus berinovasi dan
        memberikan yang terbaik bagi semua pemangku kepentingan.
      </p>

      <!-- Stats Grid -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mb-10 text-start gap-24"
      >
        {
          stats.map((stat) => {
            return (
              <div class="flex flex-row items-start gap-4">
                <Fragment set:html={stat.icon} />
                <div class="flex flex-col md:gap-3">
                  <h3 class="text-[#0F2F7A] text-2xl md:text-[2.5rem] font-semibold">
                    {stat.number}
                  </h3>
                  <p class="text-[#41424A] text-base md:text-lg">{stat.desc}</p>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
  </body>
</html>
